<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAE01W8vk81gPsmrbkW522UShv39fScUfY</string>
	<key>GCM_SENDER_ID</key>
	<string>871513342660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.netflixClone</string>
	<key>PROJECT_ID</key>
	<string>netflix-test-3889e</string>
	<key>STORAGE_BUCKET</key>
	<string>netflix-test-3889e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871513342660:ios:29270ef50f116250323f91</string>
</dict>
</plist>